<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="./image/HDR.ico">
    <link rel="stylesheet" href="./style/style.css">
    <title>รับยาพารา</title>
</head>
<body>
    <%- include('nav') %>
    <div class="container">
        <h1 class="red_aleart" id="code-gen">นำ Code ไปกรอก</h1>
        <h1 class="red_aleart" id="code-gen">ที่ตู้กดยาอัจฉริยะ</h1>
        <h1 class="red_aleart" id="code-gen">หน้าห้องพยาบาล</h1>
        <h1 class="red_aleart"><%= code[Math.floor((Math.random() * 100))] %></h1>
        <div class="login-box">
            <a class="login-btn" href="https://forms.gle/Nb58GyQPiZG1AGyr7">ยืนยัน</a>
        </div>
    </div>
    <footer class="footer">
    </footer>
</body>
</html>