<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/style.css">
    <title>Test1</title>
</head>
<body>
    <nav class="nav-bar">
        <h1>Name project</h1>
    </nav>
    <div class="container">
        <h1 class="red_aleart">ไม่พบข้อมูลผู้ใช้ กรุณาตรวจสอบและลองอีกครั้ง</h1>
        <h1 class="red_aleart">หรือติดต่อผู้ดูแลระบบ</h1>
        <form class="login-box" action="/">
            <button class="login-btn">ยืนยัน</button>
        </form>
    </div>
    <footer class="footer">
    </footer>
</body>
</html>