<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="./image/HDR.ico">
    <link rel="stylesheet" href="style/style.css">
    <title>เลือกอาการ</title>
</head>
<body>
    <%- include('nav') %>
    <div class="container">
        <div class="section-title"><h1>อาการ</h1></div>
        <a href="/headache" class="link-1">ปวดหัว / มีไข้</a>
        <a href="/men" class="link-1">ปวดประจำเดือน</a>
    </div>
    <footer class="footer">
    </footer>
</body>
</html>