<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/style.css">
    <title>Test1</title>
</head>
<body>
    <nav class="nav-bar">
        <h1>Name project</h1>
    </nav>
    <div class="container">
        <h1>สำหรับนักเรียน</h1>
        <form class="login-box" method="post" action="/student_sing_in">
            <div class="main-login-box">
                <label for="StudentNumber">เลขประจำตัวนักเรียน(เช่น12345)</label>
                <input type="text" name="StudentNumber" placeholder="" minlength="5" maxlength="5" required>
            </div>
            <div class="sub-login-box">
                <div class="sub-sub-login-box">
                    <label for="Class">ระดับชั้น</label>
                    <select name="Class" required>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                    </select>
                </div>
                <div class="sub-sub-login-box">
                    <label for="Room">ระดับชั้น</label>
                    <select name="Room" required>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">6</option>
                        <option value="8">6</option>
                    </select>
                </div>
                <div class="sub-sub-login-box">
                    <label for="Number">เลขที่</label>
                    <input type="text" name="Number" maxlength="2" required>
                </div>
            </div>
            <a class="officer-btn" href="/teacher"><p>login สำหรับบุคลากรทางการศึกษา</p></a>
            <button class="login-btn">ยืนยัน</button>
        </form>
    </div>
    <footer class="footer">
    </footer>
</body>
</html>