<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/style.css">
    <title>Test1</title>
</head>
<body>
    <nav class="nav-bar">
        <h1>Name project</h1>
    </nav>
    <div class="container">
        <h1>สำหรับบุคลากร</h1>
        <form class="login-box">
            <div class="main-login-box">
                <label for="officerNumber">ชื่อผู้ใช้งาน</label>
                <input type="text" name="TeacherNumber" placeholder="">
                <label for="officerpassword">รหัสผ่าน</label>
                <input type="password" name="TeacherPassword" placeholder="">
            </div>
            <button class="login-btn">ยืนยัน</button>
        </form>
    </div>
    <footer class="footer">
    </footer>
</body>
</html>