<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/style.css">
    <title>ระบบดูแล</title>
</head>
<body>
    <nav class="nav-bar">
        <div class="hdr-logo"><a href="/"><img src="./image/logo.png"></a></div>
        <div class="title-container">
            <div class="main-title"><h1>ระบบจ่ายยาอัจฉริยะ</h1></div>
            <div class="sub-title"><p>ห้องพยาบาล โรงเรียนหางดงรัฐราษฎร์อุปถัมภ์ </p></div>
        </div>
    </nav>

    <div class="main-content-container">
        <div class="head-main-content">
            <h1>Product List</h1>
        </div>
        <div class="product-content">
            <table class="table-product-content">
                <tr class="head-product-row">
                    <th>เวลา</th>
                    <th>ชื่อ - นามสกุล</th>
                    <th>ชั้น</th>
                    <th>สถานะ</th>
                    <th>ปุ่ม</th>
                </tr>
                <tr class="sub-product-row">
                    <th class="sub-row-product-color"><img class="product-image" src="/image/products/<%= item.image%>" alt=""></th>
                    <th class="sub-row-product-color"><%= item.detail%></th>
                    <th class="sub-row-product-color"><%= item.price%></th>
                    <th class="sub-row-product-color">&#9733; <%= item.rating%></th>
                </tr>
            </table>
        </div>
    </div>

    <footer class="footer">
    </footer>
</body>
</html>